@media (min-width: 100px){
.special{
    position: center;
    text-align: center;
    float: right;
    padding-right: 40px;
    max-width: 200px;
    color: rgba(34, 0, 128, .9);
    font-weight: bold;
    font-size: 15px;
}


.simpleme{
    color: black;
    font-weight: none;
    font-size: 10px;
}
}

@media (min-width: 250px){
    .special{
        position: center;
        text-align: center;
        float: right;
        padding-right: 60px;
        max-width: 300px;
        color: rgba(34, 0, 128, .9);
        font-weight: bold;
        font-size: 25px;
    }
   
    
    .simpleme{
        color: black;
        font-weight: none;
        font-size: 15px;
    }
}

@media (min-width: 800px){
    .special{
        position: center;
        text-align: center;
        float: right;
        padding-right: 60px;
        max-width: 400px;
        color: rgba(34, 0, 128, .9);
        font-weight: bold;
        font-size: 30px;
    }
   
    
    .simpleme{
        color: black;
        font-weight: none;
        font-size: 20px;
    }
}



input:hover{
    max-width: 17%;
}

.fa_logo{
    max-width: 15%;

}

.email_logo{
    max-width: 15%;


}

.centerify{
    position: center;
    margin: auto;
    width: 70%;
    padding-bottom: 20px;
    text-align: center;
}

.centerify2{
    position: center;
    margin: auto;
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
}

.shapeup2{
    max-width: 75%;
    height: auto;
    position: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.shapeup{
    max-width: 45%;
    height: auto;
    position: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.nobold{
    font-weight: normal;
}

.indentleft{
    margin-left: 40px;
}

.slide{
    background-color: rgba(98, 0, 128, 0.6);
    left: 40px;
    right: 40px;
    border-radius: 25px;
    padding: 20px;
}   

.backs{
    background-color: rgba(23, 79, 231, 0.6);
}

.makewhite{
    color: rgb(0,0,0,);
    font-weight: bold;  
    font-size: 22px;
}

.makerealwhite{
    color: white;
    font-size: 25px;
}

.makeblack{
    color: black;
}

.make-cute{
    color: rgba(77, 0, 128, 0.9);
}

.makebold{
    font-weight: bold;
}

.strongwhite{
    color: rgba(250, 250, 250, .99);
    font-size: 40px;
    font-weight: none;
}

.simpleblack{
    color: black;
}
